<header>
        <mat-toolbar color="primary">
          <span routerLink="/home">BookComet</span>
          <span class="spacer"></span>
          <button
            mat-icon-button
            class="header-icon"
            aria-label="Cadastre"
            routerLink="/account_circle" >
            <mat-icon>account_circle</mat-icon>
          </button>
          <button
            mat-icon-button
            class="header-icon"
            aria-label="Login"
            routerLink="/login">
            <mat-icon>login</mat-icon>
          </button>
        </mat-toolbar>
</header>